---
import PlayButton from "../assets/play-button.astro";
import { formatDate } from "../libs/utils";
type Props = {
  video: {
    title: string;
    link: string;
    thumbnail: string;
    pubDate: string;
  };
};

const { video } = Astro.props;
const formattedDate = formatDate(video.pubDate);
---

<div
  class="block dark:bg-zinc-900 bg-white rounded-xl p-0 shadow-md transition-all duration-300"
>
  <a href={video.link} target="_blank" rel="noopener noreferrer" class="block">
    <!-- Video Thumbnail -->
    <div class="relative w-full aspect-video rounded-md overflow-hidden mb-3">
      <img
        src={video.thumbnail}
        alt={`Thumbnail for ${video.title}`}
        class="w-full h-full object-cover transition-transform duration-300 ease-in-out hover:scale-105"
        loading="lazy"
        onerror="this.onerror=null;this.src='https://placehold.co/480x270/27272a/FFF?text=ST+Sabbir';"
      />
      <!-- Play button overlay (simple SVG for visual flair) -->
      <PlayButton />
    </div>

    <!-- Date Section -->
    <span class="text-xs text-zinc-400 min-w-max px-4">{formattedDate}</span>
    <!-- Title and Date Section -->
    <div class="flex justify-between items-start px-4 mb-2">
      <h3
        class="text-sm font-semibold cursor-pointer dark:text-white text-zinc-900 hover:text-zinc-600 transition-colors line-clamp-3"
      >
        {video.title}
      </h3>
    </div>
  </a>
</div>
